<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LiveAction Web Automation Test Suite" parallel="tests"
	thread-count="5">
	<!-- <test name="LoginTest"> <classes> <class name="com.liveaction.selenium.testCase.LoginTest"/> 
		</classes> </test> -->

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="Stories">		
		<classes>
			<class name="com.liveaction.selenium.testCase.VerifyInterfaceCapacityPage" />						
			<!-- <class name="com.liveaction.selenium.testCase.VerifyDeviceInventory" />  -->
		</classes>
	</test>
</suite>